html,body {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 1372px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
};
.contain {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
};
#title {
    position: absolute;
    .deco-x {
        position: absolute;
        text-align: left;
        font-family: 'Regular', 'Helvetica', 'Neue';
        font-size: 24px;
        letter-spacing: 0;
        color: #2EB738;
        opacity: 1;
        width: 14px;
        height: 28px;
    };

    .deco-x-1 {
        top: 80px;
        left: 85px;
    };

    .deco-x-2 {
        top: 80px;
        left: 421px;
    };

    .deco-x-3 {
        top: 418px;
        left: 85px;
    };

    .deco-x-4 {
        top: 418px;
        left: 421px;
    };

    .deco-hr {
        position: absolute;
        border: 1px solid #2EB738;
        opacity: 1;
        width: 280px;
        height: 0px;
    };

    .deco-hr-1 {
        top: 96.5px;
        left: 120px;
    };
    .deco-hr-2 {
        top: 434.5px;
        left: 120px;
    };
    h3 {
        position: absolute;
        top: 210px;
        left: 120px;
        width: 280px;
        height: 78px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Medium', 'PingFang TC';
        font-size: 56px;
        letter-spacing: 0;
        color: #2EB738;
        opacity: 1;

    };
    p {
        position: absolute;
        top: 288px;
        left: 121px;
        width: 278px;
        height: 28px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Regular', 'Helvetica Neue';
        font-size: 24px;
        letter-spacing: 0;
        color: #2EB738;
        opacity: 1;
    };

};

.card {
    position: absolute;
    width: 350px;
    height: 366px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #D8D8D8;
    border-radius: 100px 0px 30px 0px;
    opacity: 1;

    .num {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 34px;
        left: 61px;
        width: 71px;
        height: 153px;
        text-align: left;
        font-family: "Bold", "Helvetica Neue";
        font-size: 128px;
        letter-spacing: 0;
        color: #2EB738;
        text-shadow: 4px 3px 0px #F0F0F0;
        opacity: 1;
    };
};

.card-2{
    top: 80px;
    left: 465px;
};

.card-3{
    top: 80px;
    left: 845px;
};

.card-4 {
    top: 486px;
    left: 85px;
};

.card-5 {
    top: 486px;
    left: 465px;
};

.card-6 {
    top: 486px;
    left: 845px;
};

.card-7 {
    top: 892px;
    left: 85px;
};

.card-8 {
    top: 892px;
    left: 465px;
};

.card-9 {
    top: 892px;
    left: 845px;
};


.formulas {
    position: absolute;
    top: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .formula {
        list-style: none;
        position: absolute;
        padding: 0;
        text-align: left;
        font-family: 'Regular', 'Helvetica Neue';
        font-size: 24px;
        letter-spacing: 0;
        color: #2EB738;
        opacity: 1;
        // width: 118px;
        height: 33px;
    };

    .formula-1 {
        top: 187px;
        left: 40px;
    };

    .formula-2 {
        top: 228px;
        left: 40px;
    };

    .formula-3 {
        top: 269px;
        left: 40px;
    };

    .formula-4 {
        top: 64px;
        left: 192px;
    };

    .formula-5 {
        top: 105px;
        left: 192px;
    };

    .formula-6 {
        top: 146px;
        left: 192px;
    };

    .formula-7 {
        top: 187px;
        left: 192px;
    };
    .formula-8 {
        top: 228px;
        left: 192px;
    };

    .formula-9 {
        top: 269px;
        left: 192px;
    };

};